.browserHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  border-bottom: 1px solid;
  border-bottom-color: rgb(48, 54, 61);
}

.browserTitle {
  color: white;
  background-color: rgb(13, 17, 23);
  border: 1px solid;
  border-color: rgb(48, 54, 61);
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 2px 6px;
  border-radius: 6px;
}

.browserBody {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

.browserBodySections {
  height: 100%;
  border-collapse: collapse;
  border-right: 1px solid rgb(48, 54, 61);
  /* border-radius: 6px; */
}

.browserTrigger {
  background-color: rgb(13, 17, 23);
}

.browserBodyCard {
  display: flex;
  flex-direction: column;
  background-color: #161b22;
  border: 0.15rem solid;
  border-color: rgb(48, 54, 61);
  height: 10rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* transition: 0.1s; */
}

.browserBodyCard::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: opacity 0.3s;
  background: var(--back, rgb(255, 255, 255, 0.5));
  filter: blur(80px);
}

.browserBodyCard:hover::after {
  opacity: 0.8;
}
