.parallaxCardBase {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.parallaxCardBase::after {
  content: "";
  position: absolute;
  top: calc(var(--y1, 0) * 1px - 50px);
  left: calc(var(--x1, 0) * 1px - 50px);
  width: 550px;
  height: 280px;
  opacity: 0;
  transition: opacity 0.4s;
  background: var(--back1, rgb(255, 255, 255, 1));
  filter: blur(200px);
}

.parallaxCardBase:hover::after {
  opacity: 0.9;
}
