.parallaxCardBase {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.parallaxCardBase::after {
  content: "";
  position: absolute;
  top: calc(var(--y1, 0) * 1px - 50px);
  left: calc(var(--x1, 0) * 1px - 50px);
  width: 150px;
  height: 150px;
  opacity: 0;
  transition: opacity 0.3s;
  background: var(--back1, rgb(255, 255, 255, 1));
  filter: blur(80px);
}

.parallaxCardBase:hover::after {
  opacity: 0.8;
}
